.mainHeader{
    width : 100vw;
    padding: 0;
    margin: 0;
}
.navBar{
    width : 100vw;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.container{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
.container li{
    list-style: none;
    font-weight: bold;
}
.contain{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.contain h4{
    width: 450px;
    font-size: 40px;
}
.contain p{
    width:450px;
}